body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: #fff;
    padding: 10px;
    text-align: center;
}

img {
    font-weight: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    margin-bottom: 30px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

footer {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}