body {
    font-family: 'serif';
    margin: 0;
    padding: 0;
}


img {
    font-weight: 100px;
    width: 100px;
    float: left;
    margin-right: 10px;
}

header {
    background-color: red;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: red;
    overflow: hidden;
    text-align: center;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 200px;
    background-color: red;
}

nav a:hover {
    background-color: white;
    color: red;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 350px;
    height: 300px;
    margin: 30px;
    background-color: red;
    /* Use your preferred color */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.square:hover {
    transform: scale(1.1);
}

footer {
    background-color: red;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
